<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="connectionString" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

<connectionString>
	<add key="Server" value="127.0.0.1"/>
	<add key="Port" value="3333"/>
	<add key="User" value="root"/>
	<add key="Pass" value="root"/>
	<add key="Database" value="TanksDb"/>
</connectionString>

</configuration>